<h1>Sign In</h1>

<form action="<%= session_url %>" method="post">
  <input
  type="hidden"
  name="authenticity_token"
  value="<%= form_authenticity_token %>">

  <label>User Name</label>
  <input type="text" name="user[email]" value="">

  <label>Password</label>
  <input type="password" name="user[password]" value="">

  <input type="submit" name="" value="Sign In">

</form>
